input {
     width: 40em;
    height: 30px;
}

#toolbar {
    
    position: absolute;
    padding: 2px 5px 0px 0px;
    left: 86.5%
    
}

#toolbar:hover {
    
    background-image: image(/Users/yasminmorgan/Desktop/account_toolbar2.png)
}

#images_positioning {
    
    position: absolute;
    left: 80%;
    padding: 6px;
    color: #4c4c4c;
}

#images_positioning:hover {
    
    cursor: pointer;
    text-decoration: underline;
    
}

#gmail_positioning {
    
    position: absolute;
    left: 75%;
    padding: 6px;
    color: #4c4c4c;
}

#gmail_positioning:hover {
    
    cursor: pointer;
    text-decoration: underline;
}
#sign_in {
    
    font-family: sans-serif;
    font-size: 13px;
    background-color: #6666ff;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    color: white;
}

#google_logo {
   
    
   position: absolute;
   top: 55%;
   left: 60%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

#microphone {
    
    position: absolute;
   top: 40%;
   left: 71%;
   width: 500px;
   height: 500px;
   margin-top: -10px; /* Half the height */
   margin-left: -10px; /* Half the width */
}
#search_bar {
   
   position: absolute;
   top: 70%;
   left: 52%;
   width: 480px;
   height: 39px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
   background: url("/Users/yasminmorgan/Desktop/microphone.png") no-repeat right;
    
}

#buttons_1 {
    
 position: absolute;
   top: 78%;
   left: 61%;
   width: 300px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
  
    
}

#buttons_2 {

    position: absolute;
   top: 78%;
   left: 74%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

.button {
    font-family: "Helvetica Neu", sans-serif;
    width: 9.5em;
    height: 40px;
    display: inline;
    border: none;
    color: gray;
    background-color: #f1f1f1 ;
    padding: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 2px;
    cursor: pointer;
}

.button:hover {
    
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: 0 0 1px 1px #d3d3d3;
}

/*Navigation bar and footer*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;
}

li{
    display: inline;
    text-align: center;
   

}

li a {
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    color:gray;
}

li a:hover{
    text-decoration:underline;
}

#nav_bar {
    
    
    float: right;
    top: 0%;
    display: inline;
    padding: 8px 20px;
    
}

#footer {
    
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #f1f1f1;
    width: 100%;
    padding: 15px 10px;
    border-style: solid;
    border-width: thin;
    border-color: #d8d8d8;
   
}

.footer_right {
    
    position: absolute;
    left: 70%;
    bottom: 0%;
    background-color: #f1f1f1;
    padding: 15px 10px;
    
}
  
